*{
    margin: 0px;
    padding: 0px;
}
.sky{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.sun{
    width: 150px;
    height: 150px;
    background-color: rgba(253, 184, 19, 0.8);
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: -20px;
    animation: sun 8s;
    animation-timing-function: linear;
}
.cloud1{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: -20px;
    opacity: 0.6;
    animation: cloud1 7.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
}
.cloud2{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 50%;
    animation: cloud2 6s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
}
.cloud3{
    width: 200px;
    height: 150px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    animation: cloud3 5s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
@keyframes sun {
    form{
        top: 70px;
        left: -20px;
        background-color: rgba(253, 184, 19, 0.8);
    }
    to{
        top: 70px;
        left: 110%;
        background-color: rgba(253, 184, 19, 1);
    }
}
@keyframes cloud1 {
    form{
        top: 30px;
        left: -20px;
    }
    to{
        top: 30px;
        left: 110%;
    }
}
@keyframes cloud2 {
    form{
        top: 20px;
        left: 50%;
    }
    to{
        top: 20px;
        left: -30%;
    }
}
@keyframes cloud3 {
    form{
        bottom: 30px;
        right: 30px;
    }
    to{
        bottom: 30px;
        right: 110%;
    }
}