*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tinos', serif; */
}
.hero_section{
    width: 100vw;
    height: 100vh;
    background-image: url('developer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.text_container{
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 45px;
    font-size: 20px;
}
.lg_text{
    font-size: 70px;
}
.text_container h2,h1{
    padding: 0 10px;
}
.black_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    padding: 50px 0px;
}
.work{

    display: flex;
    padding: 50px 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card1, .card2, .card3{
    width: 320px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0.5px #d5d5d5;
    transition: 0.3s ease-in-out;
    margin: 20px 10px;

}

.img_container{
    height: 50%;
    width: 100%;

}
.card_text_container{  
    height: 50%;
    padding: 20px;

}
.card_text_container h3{
    margin: 10px 0px;
}
.card_text_container p{
    margin: 10px 0px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 100;
}
.card_container :hover{
    transform: scale(1.02);
}
.last_section{
    display: flex;
}
.part1{
    background-color: #515603;
}
.part2{
    background-color: #722300;
}
.part1 h3,
.part2 h3{
    font-size: 62px;
    margin: 40px 20px;
    color: white;
    font-weight: 300;
}
.part1 p,
.part2 p{
    color: white;
    margin: 20px;
    font-size: 18px;
    font-weight: 100;
    padding-right:  50px;
}
.footer_section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.5px;
}
@media only screen and (max-width:900px){
    .text_container{
        padding: 80px;
        font-size: 14px;
    }
    .lg_text{
        font-size: 45px;
    }
    .black_box{
        font-size: 20px;
    }
}
@media only screen and (max-width:690px){
    .text_container{
        padding: 50px;
        font-size: 14px;
    }
    .lg_text{
        font-size: 35px;
    }
    .black_box{
        font-size: 16px;
    }
    .last_section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part1 h3,
    .part2 h3{
        font-size: 32px;
        /* margin: 20px 10px; */
        color: white;
        font-weight: 300;
        padding: 10px 20px;
}
    .part1 p,
    .part2 p{
    color: white;
    /* margin: 10px; */
    font-size: 14px;
    font-weight: 100;
    padding: 5px 20px;
}
    
}
@media only screen and (max-width:516px){
    .text_container{
        padding: 50px;
        font-size: 14px;
    }
    .lg_text{
        font-size: 25px;
    }
    .work{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part1 h3,
    .part2 h3{
        font-size: 32px;
        margin: 20px 10px;
        color: white;
        font-weight: 300;
}
    .part1 p,
    .part2 p{
    color: white;
    margin: 10px;
    font-size: 14px;
    font-weight: 100;
    padding-right:  50px;
}
}
